<!doctype html>

<html lang="no">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#013B91">

  <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}">

  <link type="text/css" href="{{url_for('static', filename='style.css')}}" rel="stylesheet">

  <script type="text/javascript" src="{{url_for('static', filename='vue.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='vue-resource.min.js')}}"></script>

  <title>Bysykkel</title>
 </head>

 <body>
  <div id="app">
   <header>
    <img src="{{url_for('static', filename='icon.png')}}" alt="icon">
    <span class="name">Bysykkel (Oslo)</span>
    <div class="stats">
     Stasjoner: [[stations.length]]<br>
     Oppdatert: [[lastStatusUpdate]]
    </div>
   </header>

   <section id="error" v-if="errorMessage">
    <b>Feilmelding</b>: [[errorMessage]].
   </section>

   <section id="stations">
    <div class="station" v-for="station in stations">
     <div class="details">
      <h1>[[station.name]]</h1>
      <h2><a :href="'https://www.google.com/maps/search/?api=1&query='+station.lat+','+station.lon">[[station.address]]</a></h2>
     </div>
     <div class="status" v-if="station.status">
      <div title="Sykler" :class="{empty: station.status.num_bikes_available == 0}">
       <img src="{{url_for('static', filename='bike.png')}}" alt="bikes">
       <span>[[station.status.num_bikes_available]]</span>
      </div>
      <div title="Låser" :class="{empty: station.status.num_docks_available == 0}">
       <img src="{{url_for('static', filename='dock.png')}}" alt="docks">
       <span>[[station.status.num_docks_available]]</span>
      </div>
     </div>
    </div> 
   </section>
  </div>

  <footer>Sanntidsdata fra <a href="https://oslobysykkel.no/apne-data/sanntid">Oslo Bysykkel</a> / <a href="https://urbansharing.com/">Urban Sharing</a></footer>

  <script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>
 </body>
</html>