body { 
	margin: 0; 
	background-color: #0A61BE; 
	font-size: 62.5%;
	font-family: sans-serif;
}
header {
	display: grid;
	grid-template-columns: 55px 1fr 160px;
	padding: 0 15px;
	background: #013B91;
	font-size: 2em;
	line-height: 46px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	color: #FFF;
}
header .stats { 
	font-size: 0.5em; line-height: 1.5em; 
	color: rgba(255, 255, 255, 0.3);
	margin-top: 8px;
}

section { padding: 15px; }
section#error { background: #ef5350; }

.station { 
	display: grid; 
	grid-template-columns: 1fr 160px; 
	background: #FFF;
	border-radius: 4px;
	padding: 10px;
	margin-bottom: 10px;
}
.station a { color: #666; text-decoration: none; }
.station a:hover { color: #333; }
.station h1 { margin: 0 0 5px 0; font-size: 1.5em; }
.station h2 { margin: 0; font-size: 1.2em; }
.station .status { 
	display: grid;
	grid-template-columns: repeat(2, 75px);
	grid-column-gap: 10px;
	font-size: 2em;
	font-weight: bold;
}
.station .status > div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4px 8px;
	border-radius: 4px;
	color: #4A4A4A;
}
.station .status > div > span { 
	display: inline-block;
	width: 50px;
	text-align: center;
}
.station .status > div.empty { opacity: 0.25; }
.station .status > div.empty > span { 
	color: #e91e1f; 
}

footer { 
	padding: 15px;
	text-align: center;
	color: rgba(255, 255, 255, 0.3);
}
footer > a { color: rgba(255, 255, 255, 0.3); }

@media only screen and (max-width: 400px) {
	header { grid-template-columns: 1fr 160px; }
	header .name { display: none; }
}